body{
    font-family: Arrial,sans-serif;
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
    margin:0;
    background-color:#f4f4f9;
    }
    .container {
    background-color:#fff;
    padding:2em;
    border-radius:8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width:300px;
    text-align:center;
    }
    
    h2{
    margin-bottom:1em;
    }
    label{
    font-weight:bold;
    display:block;
    margin-top:1em;
    }
    
    input,textarea,button{
    width:100%;
    padding:0.5em;
    margin-top:0.5em;
    border:1px solid #ddd;
    border-radius:4px;
    }
    button {
        background-color:#1d2820;
        color:white;
        border:none;
        cursor:pointer;
        margin-top:1em;
        }
        button:hover {
        background-color: #162016;
        }
        #responseMessage {
        margin-top: 1em;
        font-weight:bold;
        }